<?xml version="1.0" encoding="utf-8"?>
<AdMediatorConfiguration xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
  <BaseConfiguration>
    <AdAdapters>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>WApplicationId</Key>
            <Value>cc7ef80d-cd55-4099-969b-21accd8134ea</Value>
          </Property>
          <Property>
            <Key>WAdUnitId</Key>
            <Value>11615920</Value>
          </Property>
          <Property>
            <Key>WWidth</Key>
            <Value>300</Value>
          </Property>
          <Property>
            <Key>WHeight</Key>
            <Value>250</Value>
          </Property>
          <Property>
            <Key>MApplicationId</Key>
            <Value>3219c9b3-b10d-4bc3-9452-ae051d3fcaff</Value>
          </Property>
          <Property>
            <Key>MAdUnitId</Key>
            <Value>11615924</Value>
          </Property>
          <Property>
            <Key>MWidth</Key>
            <Value>480</Value>
          </Property>
          <Property>
            <Key>MHeight</Key>
            <Value>80</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertising</Name>
        <Rank>1</Rank>
        <Timeout>15000</Timeout>
        <Weight>50</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata />
        <Name>AdDuplex</Name>
        <Rank>-1</Rank>
        <Timeout>15000</Timeout>
        <Weight>-20</Weight>
      </AdAdapterInfo>
      <AdAdapterInfo>
        <Metadata>
          <Property>
            <Key>IsHouse</Key>
            <Value>true</Value>
          </Property>
          <Property>
            <Key>WApplicationId</Key>
            <Value>cc7ef80d-cd55-4099-969b-21accd8134ea</Value>
          </Property>
          <Property>
            <Key>WAdUnitId</Key>
            <Value>11615921</Value>
          </Property>
          <Property>
            <Key>WWidth</Key>
            <Value>300</Value>
          </Property>
          <Property>
            <Key>WHeight</Key>
            <Value>250</Value>
          </Property>
          <Property>
            <Key>MApplicationId</Key>
            <Value>3219c9b3-b10d-4bc3-9452-ae051d3fcaff</Value>
          </Property>
          <Property>
            <Key>MAdUnitId</Key>
            <Value>11615925</Value>
          </Property>
          <Property>
            <Key>MWidth</Key>
            <Value>480</Value>
          </Property>
          <Property>
            <Key>MHeight</Key>
            <Value>80</Value>
          </Property>
        </Metadata>
        <Name>MicrosoftAdvertisingHouse</Name>
        <Rank>2</Rank>
        <Timeout>15000</Timeout>
        <Weight>50</Weight>
      </AdAdapterInfo>
    </AdAdapters>
    <AdControlConfigurations />
    <RotationAlgorithm>Ratio</RotationAlgorithm>
  </BaseConfiguration>
  <CdnUriFormat>https://admediatorcdn.windowsphone.com/public/FBW1an4vmTAsETrygT602jEZbof60wrer9UxqAhkK0M=/{0}.config</CdnUriFormat>
  <ConfigId>FBW1an4vmTAsETrygT602jEZbof60wrer9UxqAhkK0M=</ConfigId>
  <FileVersion>1.0.1</FileVersion>
  <RefreshRate>30</RefreshRate>
  <SchemaVersion>2.0.1</SchemaVersion>
  <UpdatedDateTime>2016-05-04T11:50:48.3622521Z</UpdatedDateTime>
</AdMediatorConfiguration>